In [2]:
import pandas as pd
import xarray as xr
import simplekml

#dependencies for range ring
from functools import partial
import pyproj
from shapely.ops import transform
from shapely.geometry import Point


# ## Create a 1000km ring in the middle of the Atlantic

proj_wgs84 = pyproj.Proj('+proj=longlat +datum=WGS84')
def geodesic_point_buffer(lat, lon, km):
    # Azimuthal equidistant projection
    aeqd_proj = '+proj=aeqd +lat_0={lat} +lon_0={lon} +x_0=0 +y_0=0'
    project = partial(
        pyproj.transform,
        pyproj.Proj(aeqd_proj.format(lat=lat, lon=lon)),
        proj_wgs84)
    buf = Point(0, 0).buffer(km * 1000)  # distance in metres
    return transform(project, buf).exterior.coords[:]

ring = geodesic_point_buffer(25.84,  -45.17,1000)

/Users/cbps/code/saIcons/.pixi/envs/default/lib/python3.12/site-packages/shapely/ops.py:276: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  shell = type(geom.exterior)(zip(*func(*zip(*geom.exterior.coords))))

In [4]:
df = pd.DataFrame(ring)
df.columns = ['lon','lat']

          lon        lat
0  -35.214216  25.498720
1  -35.333503  24.623161
2  -35.542717  23.761905
3  -35.838302  22.922697
4  -36.216192  22.112967
..        ...        ...
60 -35.685642  28.980655
61 -35.422374  28.129999
62 -35.256690  27.260464
63 -35.187835  26.380568
64 -35.214216  25.498720

[65 rows x 2 columns]